body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(65, 65, 65);
    color:white;
    
}

p{
    color:white;
}

.common{
    position:absolute;
}

.differentposition{
    text-align:right;
    padding-right:100px;
    vertical-align:middle;
}

.header{
    background-color:white;
    top:0px;
    left:0px;
    right:0px;
    height:100px;
    padding-left:100px;

}

.mainbody{
    top:105px;
    left:20%;
    right:20%;
    bottom:45px;
    color:rgb(65, 65, 65);
}

.footer{
    background:rgb(255, 255, 255);
    bottom:0px;
    left:0px;
    right:0px;
    height:40px;
    position:fixed;
    text-align:center;
}

.space{
    margin:5px;
}

h1{
    left:50px;
    color:black;
}

li{
    display:inline-block;
    vertical-align:middle;
    font-size:18px;
}