.center{
    text-align:center;
}

.justify{
    text-align:inherit
}

.nobullet{
    list-style:square;
}

.fancyfont{
    font-family:cursive;
    font-style:italic;
}

.purpletext{
    color:rgb(48, 4, 48);
}

body{
    background-color:rgb(233, 205, 233);
}


img{
    border:1px solid rgb(0, 0, 0);
    width:100%;
}